<div class="card" style="width: 18rem;">
    <img class="card-img-top"
      src="https://images.all-free-download.com/images/graphiclarge/road_logistic_banner_truck_male_shipper_icons_6838315.jpg"
      alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title"><b>{{conductorDetail.nombre}}</b></h4>
      <h3 class="card-title"><b>ID: </b>{{conductorDetail.id}}</h3>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Telefono: </b>{{conductorDetail.telefono}}</li>  
    </ul>
    <h4 class="card-title"><b>Viaje:</b></h4>
    <app-viaje-detail [loginP]="this.proveedor_login" [conductorId]="this.conductor_id"></app-viaje-detail>
  </div>