<br>
<br>
<br>
<br>
<div class='container-fluid row justify-content-center'>
    <div class="row" id="detail">
        <div class="card">
            <div class="table-responsive">
                <table mdbTable  class='table data-sortable' cellspacing="0">
                    <thead id="titular" class="thead">
                        <tr>
                            <th [mdbTableSort]="usuarios" sortBy="id">ID <i class="fa fa-fw fa-sort"></i></th>
                            <th [mdbTableSort]="usuarios" sortBy="login">Login <i class="fa fa-fw fa-sort"></i></th>
                            <th>Nombre Completo</th>
                            <th>Ciudad</th>
                            <th>Correo Electronico</th>
                            <th>
                                    <div class="input-group">
                                            <input #esto class="form-control py-2 border-right-0 border" type="text" name="usuario_login" [(ngModel)]="usuario_login" 
                                             id="example-search-input" placeholder="buscar usuario con login..." (keyup.enter)="buscarUsuario()">
                                            <span class="input-group-append">
                                                <div class="input-group-text bg-transparent"><i class="fa fa-search"></i></div>
                                            </span>
                                        </div>
                            </th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios">
                            <td routerLink="/usuarios/{{usuario.login}}" style="cursor: pointer;">{{ usuario.id }}</td>
                            <td routerLink="/usuarios/{{usuario.login}}" style="cursor: pointer;"><b>{{ usuario.login }}</b></td>
                            <td routerLink="/usuarios/{{usuario.login}}" style="cursor: pointer;">{{ usuario.nombre }}</td>
                            <td routerLink="/usuarios/{{usuario.login}}" style="cursor: pointer;">{{ usuario.ciudadDeOrigen }}</td>
                            <td routerLink="/usuarios/{{usuario.login}}" style="cursor: pointer;"><a href="mailto:{{usuario.correoElectronico}}">{{usuario.correoElectronico}}</a></td>
                            <td><button type="button" class="btn btn-labeled btn-danger" (click)="this.deleteUser(usuario.login)" routerLink="/usuarios/list" *ngxPermissionsOnly="['ADMIN']">ELIMINAR</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>