<br>
<br>
<br>
<br>
<div class='container-fluid row justify-content-center'>
    <div class="row" id="detail">
        <div class="card">
            <div class="table-responsive">
                <table class='table'>
                    <thead id="titular" class="thead">
                        <tr>
                            <th>ID</th>
                            <th>Login</th>
                            <th>Nombre</th>
                            <th>Ciudad</th>
                            <th>Correo Electronico</th>
                            <th>Telefono</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let proveedor of proveedores" style="cursor: pointer;"
                            routerLink="/proveedores/{{proveedor.login}}">
                            <td>{{ proveedor.id }}</td>
                            <td>{{ proveedor.login }}</td>
                            <td>{{ proveedor.nombre }}</td>
                            <td>{{ proveedor.ciudadOrigen }}</td>
                            <td>{{ proveedor.correoElectronico }}</td>
                            <td>{{ proveedor.numeroTelefono }}</td>
                            <td><button type="button" class="btn btn-labeled btn-danger" (click)="this.deleteProveedor(proveedor.login)" routerLink="/proveedores/list" *ngxPermissionsOnly="['ADMIN']">ELIMINAR</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>