<div class='container-fluid'>
    <div class="col-8">
        <div class='col'>
            <table class='table'>
                <thead id="titular" class="thead">
                    <tr>
                        <th>ID</th>
                        <th>Login</th>
                        <th>Nombre</th>
                        <th>Ciudad</th>
                        <th>Correo Electronico</th>
                        <th>Telefono</th>
                        <th>Numero de Vehiculos</th>
                        <th>Calificacion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let proveedor of proveedores" style="cursor: pointer;"
                        routerLink="/proveedor/{{proveedor.login}}">
                        <td>{{ proveedor.id }}</td>
                        <td>{{ proveedor.login }}</td>
                        <td>{{ proveedor.nombre }}</td>
                        <td>{{ proveedor.ciudadOrigen }}</td>
                        <td>{{ proveedor.correoElectronico }}</td>
                        <td>{{ proveedor.numeroTelefono }}</td>
                        <td>{{ proveedor.numeroVehiculos }}</td>
                        <td>{{ proveedor.clasificacion }}</td>
                        
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
    
</div>