
#home-container {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}

img#logo {
    width: 200px;
    margin-bottom: 1.6em;
}

.animaciones {
    margin-left: 20px;
    width: 10%;
    height: 10%;
}

#ache1 {
    color: #535353;
    font-weight: bold;
    margin-bottom: .2em;
}

p.subtitulo {
    font-size: 1.4em;
    color: #858585;
    margin-top: 0;
}

.cta {
    color: #ffffff;
    background-color: #09BBE9;
    padding: 1em;
    font-weight: bold;
    margin-top: 2em;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 100px;
	height: 50px;
	background: grey;
	display: block;
	border-radius: 50px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 2.5px;
	left: 2.5px;
	width: 45px;
	height: 45px;
	background: #fff;
	border-radius: 45px;
	transition: 0.3s;
}

input:checked + label {
	background: #fe6503;
}

input:checked + label:after {
	left: calc(100% - 2.5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 65px;
}

// centering
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
}

/**
ANIMACIONES
**/
.slide-in-top{-webkit-animation:slide-in-top .5s cubic-bezier(.25,.46,.45,.94) 2s both;animation:slide-in-top .5s cubic-bezier(.25,.46,.45,.94) 2s both}
@-webkit-keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}

.slide-in-left{-webkit-animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 2s both;animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 2s both}
@-webkit-keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}

.slide-in-left1{-webkit-animation:slide-in-left 1s cubic-bezier(.25,.46,.45,.94) 1.5s both;animation:slide-in-left 1s cubic-bezier(.25,.46,.45,.94) 1.5s both}
@-webkit-keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}

.slide-in-bottom{-webkit-animation:slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) 2s both;animation:slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) 2s both}
@-webkit-keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}

.swirl-in-bl-fwd{-webkit-animation:swirl-in-bl-fwd .6s ease-out 2s both;animation:swirl-in-bl-fwd .6s ease-out 2s both}
@-webkit-keyframes swirl-in-bl-fwd{0%{-webkit-transform:rotate(-540deg) scale(0);transform:rotate(-540deg) scale(0);-webkit-transform-origin:0 100%;transform-origin:0 100%;opacity:0}100%{-webkit-transform:rotate(0) scale(1);transform:rotate(0) scale(1);-webkit-transform-origin:0 100%;transform-origin:0 100%;opacity:1}}@keyframes swirl-in-bl-fwd{0%{-webkit-transform:rotate(-540deg) scale(0);transform:rotate(-540deg) scale(0);-webkit-transform-origin:0 100%;transform-origin:0 100%;opacity:0}100%{-webkit-transform:rotate(0) scale(1);transform:rotate(0) scale(1);-webkit-transform-origin:0 100%;transform-origin:0 100%;opacity:1}}

.slide-in-right{-webkit-animation:slide-in-right 1s cubic-bezier(.25,.46,.45,.94) 1.5s both;animation:slide-in-right 1s cubic-bezier(.25,.46,.45,.94) 1.5s both}
@-webkit-keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}
