<div class="container-fluid">
  <div class="row">

    <div class="col" *ngFor="let subasta of subastas">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top"
          src="https://images.all-free-download.com/images/graphicthumb/monopoly_caracter_6820860.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title"><b>Subasta</b></h4>
          <h3 class="card-title"><b>subasta ID: </b>{{subasta.id}}</h3>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Valor inicial: </b>${{subasta.valorInicial}} </li>
          <li class="list-group-item"><b>Valor final: </b>${{subasta.valorFinal}}</li>
        </ul>
        <div *ngIf="login ">
        <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
        (click)="onSelectedClick(subasta.id)">Ver ofertas</button>
        </div>
      </div>
    </div>
    <div class="card" id="add" style="width: 18rem;">
        <button type="col button" id="but" class="btn"
          [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" (click)="showHideCreate()">+</button>
      </div>
  </div>
  <div id="crear" *ngIf="showCreate">
    <p id="tituloSub"><b>Agregar una nueva subasta: </b></p>
    <hr>
    <br>
    <app-subasta-create [loginUsuario]="this.login" (cancel)="showHideCreate()" (create)="ngOnInit()">
    </app-subasta-create>
  </div>
</div>