<div class="input-group">
    <input #esto class="form-control py-2 border-right-0 border" type="number" name="idCarga" [(ngModel)]="idCarga" 
     id="example-search-input" placeholder="buscar carga con id..." (keyup.enter)="buscarCarga()">
    <span class="input-group-append">
        <div class="input-group-text bg-transparent"><i class="fa fa-search"></i></div>
    </span>
</div>
<br>
<div class="container-fluid">
    <div class="row">
      <div class="col" *ngFor="let carga of cargas ">
        <div class="card" style="width: 18rem;">
            <ng-container *ngIf="carga.imagenes; else elseTemplate">
                <img class="card-img-top" [src]="carga.imagenes" alt="Card image cap">
                <input style="display:none" type="file" #imageC (change)="onSelectedFile($event, carga.id)">
                <button type="button" class="btn btn-primary" (click)="imageC.click()">Cargar imagen</button>
            </ng-container>
            <ng-template #elseTemplate>
                <img class="card-img-top" [src]="this.defaultImage" alt="Card image cap">
                <input style="display:none" type="file" #imageC (change)="onSelectedFile($event, carga.id)">
                <button type="button" class="btn btn-primary" (click)="imageC.click()">Cargar imagen</button>
            </ng-template>   
          <div class="card-body">
            <h4 class="card-title"><b>Carga</b></h4>
            <h3 class="card-title"><b>Track ID: </b>{{carga.id}}</h3>
            <p class="card-text"> <b>Observaciones:</b> {{carga.observaciones}}</p>
          </div>
          <div class="collapse" id="collapseExample">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>Lugar de salida: </b>{{carga.lugarSalida}}</li>
              <li class="list-group-item"><b>Lugar de llegada: </b>{{carga.lugarLlegada}}</li>
              <li class="list-group-item">
                <div class="row justify-content-center align-self-center">
                  <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button"
                    class="btn btn-success" (click)="onSelectedClick(carga.id)">Ver en mapa</button>
                </div>
              </li>
              <li class="list-group-item"><b>Volumen: </b>{{carga.volumen}} (m3)</li>
              <li class="list-group-item"><b>Fecha de envío: </b>{{convertirFechaChevere(carga.fechaEnvio)}}</li>
              <li class="list-group-item"><b>Entrega estimada: </b>{{convertirFechaChevere(carga.fechaEstimadaLlegada)}}
              </li>
            </ul>
            <div class="row justify-content-center align-self-center">
              <app-carga-delete [login]="this.login" [idCarga]="carga.id" (notifyDelete)="cargaEliminada(carga.id)"> </app-carga-delete>
            </div>
          </div>
          <hr>
          <div class="row justify-content-center align-self-center">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
              aria-expanded="false" aria-controls="collapseExample">
              Mas info...
            </button>
          </div>
        </div>
      </div>
      <button type="col button" id="but" class="btn btn-primary"
        [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" (click)="showHideCreate()">+</button>
    </div>
    <div id="crear" *ngIf="showCreate">
      <p id="tituloSub"><b>Agregar una nueva carga: </b></p>
      <hr>
      <br>
      <app-carga-create [loginUsuario]="this.login" (cancel)="showHideCreate()" (create)="ngOnInit()">
      </app-carga-create>
    </div>
  </div>