<div class='container-fluid' id="caja-fondo">
    <div class="row" id="perfil">
        <img class="img-fluid" alt="Responsive image" src="../../../userprofile.png">
        <table class='table col'>
            <tbody>
                <br>
                <br>
                <br>
                <tr>
                    <h2>{{ usuarioDetail.nombre + " " + usuarioDetail.apellido}}</h2>
                    <hr>
                </tr>
                <tr id="username"> {{ "@" + usuarioDetail.login }} </tr>
                <tr> <a href="mailto:{{usuarioDetail.correoElectronico}}"> {{ usuarioDetail.correoElectronico }}
                    </a></tr>
                <tr> {{ "Ubicacion: " + usuarioDetail.ciudadDeOrigen + ", Colombia" }} </tr>
                <tr><button type="button" class="btn btn-light"
                        [ngClass]="{ 'btn-primary': !showEdit, 'btn-danger': showEdit }"
                        (click)="showHideEdit()">Cambiar mi perfil</button></tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div *ngIf="showEdit">
        <app-usuario-edit [usuario]="this.usuarioDetail" (cancel)="showHideEdit()" (update)="ngOnInit()">
        </app-usuario-edit>
        <hr>
    </div>
    <div class=" table row" id="perfil">
        <div class="col">
            <p id="tituloSub"><b>Cargas: </b></p>
            <hr>
            <br>
            <div *ngIf="usuarioDetail.login">
                <app-carga [login]="usuarioDetail.login"></app-carga>
            </div>
        </div>
        <div class="col">
            <p id="tituloSub"><b>Subastas activas: </b></p>
            <hr>
            <br>
            <div *ngIf="usuarioDetail.login">
                <!--AQUI SERIA EL NOMBRE DEL SELECTOR JUNTO CON LOS PARAMETROS QUE LE ENTRARIAN
                    POR EJ: <app-NOMBREDELSELECTOR [login]="usuarioDetail.login"></app-NOMBREDELSELECTOR>
                    EL NOMBRE DEL SELECTOR APARECE EN EL .component.ts del componente que te corresponde.
                    Ese parametro que dice [login] es para pasarle a tu componente por parametro el login del usuario
                    para buscarle su debida subasta.-->
            </div>
        </div>
    </div>
    <div class="table row" id="perfil">
        <div class="col">
            <p id="tituloSub"><b>Tarjetas De Credito: </b></p>
            <hr>
            <br>
            <div *ngIf="usuarioDetail.login">
                <app-tarjeta [login]="usuarioDetail.login"></app-tarjeta>
            </div>
        </div>
    </div>
    <hr>
    <hr>
</div>