<div class='container-fluid'>
    <div class="row">
        <div class="card-body">
            <br>
            <h3 class="text-center">Log-in</h3>
            <br>
            <form name="usuario" (ngSubmit)="f.form.valid && login()"
                #f="ngForm" novalidate>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input type="text" placeholder="Username" name="usuarioLogin" class="form-control" id="usuarioLogin"
                        [(ngModel)]="usuario.login" #usuarioLogin="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && usuarioLogin.invalid }" required>
                    <div class="invalid-feedback">
                        <div>Debes ingresar un username</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Contraseña</span>
                        </div>
                        <input type="password" name="usuarioPassword" class="form-control" id="usuarioPassword"
                            [(ngModel)]="usuario.password" #usuarioPassword="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && usuarioPassword.invalid }" required>
                        <div class="invalid-feedback">
                            <div>Debes ingresar una contraseña</div>
                        </div>
                    </div>
                </div>
                <div>
                    <label for="role"><b>Rol: </b></label>
                    <select class="custom-select" name="role" id="role" [(ngModel)]="this.rolSeleccionado" required>
                        <option [value]="role" *ngFor="let role of roles">{{role}}</option>
                    </select>
                </div>
                <div class="row form-inline justify-content-center align-self-center">
                    <button type="submit" class="btn btn-success">Ingresar</button>
                    <div class="divider"></div>
                    <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>