<div class="container-fluid" id="fondo">
    <nav *ngIf="!this.landingPage && !this.loginPage" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#" (click)="this.landingPage = true">
            <img src="https://dl.dropbox.com/s/qpeqdwcyn28s83m/logotextder.png?dl=0" width="160.75" height="46.5" class="d-inline-block align-top" alt="">
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#" (click)="this.landingPage = true">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="usuariosTag" class="nav-link" routerLink="/usuarios/list"
                        (click)="toggleLanding()">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a id="proveedoresTag" class="nav-link" routerLink="/proveedores/list"
                        (click)="toggleLanding()">Proveedores</a>
                </li>
            </ul>
        </div>
    </nav>
    <div *ngIf="this.loginPage" class="row align-items-center" id="home-container">
        <div class="col"></div>
        <div class="col-3 card">
            <app-usuario-create (cancel)="toggleLogin()"></app-usuario-create>
        </div>
        <div class="col"></div>
    </div>
    <div *ngIf="this.landingPage" class="row align-items-center" id="home-container">
        <div class="col-3"></div>
        <div class="col-4" id="inner">
            <img class="slide-in-top" id="logo" src="https://dl.dropbox.com/s/qpeqdwcyn28s83m/logotextder.png?dl=0">
            <h1 class="slide-in-left" id="ache1">Mudanza + Rapida = moveasy</h1>
            <p class="subtitulo swirl-in-bl-fwd">Mudarse nunca fue tan facil!</p>

            <button type="button" class="btn cta slide-in-bottom" (click)="toggleLogin()">Unirse o entrar</button>
            <button type="button" class="btn cta slide-in-bottom" routerLink="/usuarios/list"
                (click)="cerrarPagina()">Usuarios</button>
            <button type="button" class="btn cta slide-in-bottom" routerLink="/proveedores/list"
                (click)="cerrarPagina()">Proveedores</button>
        </div>
        <div class="col-4" id="animacion">
            <div class="row">
                <img class="col animaciones slide-in-top" src="https://dl.dropbox.com/s/7095w82i83penqt/casa.png?dl=0" id="casa1">
                <img class="col animaciones slide-in-left1" src="https://dl.dropbox.com/s/3pw7120c2q232xn/camion.png?dl=0" id="camion">
                <img class="col animaciones slide-in-right" src="https://dl.dropbox.com/s/5iz8xrz0motnoia/carrito.png?dl=0" id="carrito">
                <img class="col animaciones slide-in-bottom" src="https://dl.dropbox.com/s/7095w82i83penqt/casa.png?dl=0" id="casa2">
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div *ngIf="!this.landingPage && !this.loginPage" class="list">
        <br>
        <br>
        <br>
        <br>
        <router-outlet></router-outlet>
        <br>
        <br>
    </div>
    <footer *ngIf="!this.landingPage && !this.loginPage" class="footer bg-light" id="footer">
        <div class="container">
            <p class="navbar-text text-center">
                <img src="../assets/uniandes.png" alt="logo" width="8%" /><span id="footer-text"></span>
                <a routerLink="/home"> moveasy</a>
            </p>
        </div>
    </footer>
</div>