<div class='container-fluid' id="caja-fondo">
  <div class="row">
    <table class='table col'>
      <tbody>
        <br>
        <br>
        <br>
        <tr>
          <h1>Track id: {{viajeDetail.id}}</h2>
            <hr>
        </tr>
        <tr> {{ "Datos del envío: " + viajeDetail.datosEnvío + "}} </tr>
        <tr> {{ "Lugar de salida: " + viajeDetail.lugarSalida + ", Colombia" }} </tr>
        <tr> {{ "Lugar de salida: " + viajeDetail.lugarSalida + ", Colombia" }} </tr>
        <tr><button type="button" class="btn btn-light" [ngClass]="{ 'btn-primary': !showEdit, 'btn-danger': showEdit }"
            (click)="showHideEdit()">Editar viaje</button></tr>
      </tbody>
    </table>
  </div>
  <hr>
  <div *ngIf="showEdit">
    <app-usuario-edit [usuario]="this.usuarioDetail" (cancel)="showHideEdit()" (update)="ngOnInit()">
    </app-usuario-edit>
  </div>
  <div class=" table row" id="perfil">
    <div class="col">
      <p id="tituloSub"><b>Cargas: </b></p>
      <hr>
      <br>
      <div *ngIf="usuarioDetail.login">
        <app-carga [viajeId]="viajeDetail.id" [LoginP]={{this.loginP}} [conductorId]={{this.conductorId}}></app-carga>
      </div>
    </div>
  </div>
  <hr>
  <hr>
</div>