<div class="container-fluid">
  <div class="row">
    <div class="col" *ngFor="let v of vehiculos">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://dl.dropbox.com/s/7blz2kht63yrjqp/truck.ico?dl=0" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title"><b>Vehiculo</b></h4>
          <h3 class="card-title"><b>Placa: </b>{{v.placa}}</h3>
          <p class="card-text"> <b>Marca:</b> {{v.marca}}</p>
        </div>
        <div class="collapse" id="collapseExample">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>ID Conductor: </b>{{v.idConductorActual}}</li>
            <li class="list-group-item"><b>Numero de Conductores: </b>{{v.numeroConductores}}</li>
            <li class="list-group-item"><b>Color: </b>{{v.color}}</li>
            <li class="list-group-item"><b>Dimensiones: </b>{{v.dimensiones}}</li>
            <li class="list-group-item"><b>Rendimiento: </b>{{v.rendimiento}} (Km/L)</li>
          </ul>

        </div>
        <hr>
        <div class="row justify-content-center align-self-center">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
            Mas info...
          </button>
        </div>
      </div>
    </div>
    <button type="col button" id="but" class="btn btn-primary"
      [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" (click)="showHideCreate()">+</button>
  </div>
  <div id="crear" *ngIf="showCreate">
    <br>
    <app-vehiculo-create [loginProveedor]="this.login" (cancel)="showHideCreate()" (create)="ngOnInit()">
    </app-vehiculo-create>
  </div>
</div>