<br>
<br>
<br>
<br>
<div class='container-fluid row justify-content-center'>
    <div class="row" id="detail">
        <img class="img-fluid" alt="Responsive image" src="https://dl.dropbox.com/s/x4bvrlzf5h0nlny/userprofile.png?dl=0">
        <table class='table col'>
            <tbody>
                <br>
                <br>
                <br>
                <tr>
                    <h2>{{ proveedorDetail.nombre }}</h2>
                    <hr>
                </tr>
                <tr id="username"> {{ "@" + proveedorDetail.login }} </tr>
                <tr> <a href="mailto:{{proveedorDetail.correoElectronico}}"> {{ proveedorDetail.correoElectronico }}
                    </a></tr>
                <tr> {{ "Ubicacion: " + proveedorDetail.ciudadOrigen + ", Colombia" }} </tr>
                <tr>{{ "Telefono: " + proveedorDetail.numeroTelefono  }}</tr>
                <tr>{{ "Numero de Vehiculos: " + proveedorDetail.numeroVehiculos  }}</tr>
                <tr>{{ "Calificación: " + proveedorDetail.clasificacion  }}</tr>  
                <tr><button type="button" class="btn btn-light"
                    [ngClass]="{ 'btn-primary': !showEdit, 'btn-danger': showEdit }"
                    (click)="showHideEdit()">Cambiar mi perfil</button></tr>
                
            </tbody>
        </table>
    </div> 
    <hr>
    <div class="table row">

        <div *ngIf="showEdit" class="row edit" id="detail">
            <div class="col-2"></div>
            <app-proveedor-edit class="col-10" [proveedor]="this.proveedorDetail" (cancel)="showHideEdit()"
                (update)="ngOnInit()">
            </app-proveedor-edit>
            <div class="col-2"></div>
        </div>
                
    </div>
    <hr>
    <div class="table row">
        <div class="col" id="detail">
            <p id="tituloSub"><b>Conductores: </b></p>
            <hr>
            <br>
            <div *ngIf="proveedorDetail.login">
                <app-conductor [proveedor_login]="proveedorDetail.login"></app-conductor>

            </div>
        </div>
        <div class="col" id="detail">
            <p id="tituloSub"><b>Vehiculos: </b></p>
            <hr>
            <br>
            <div *ngIf="this.proveedor_login">
                <app-vehiculo [login]="this.proveedor_login" (selectedVehiculo)="setVehiculo($event)">
                </app-vehiculo>
            </div>
        </div>
    </div>
    <app-vehiculo-detail></app-vehiculo-detail>  
    <hr>
    <hr>

    <div class="table row">
        <div class="col" id="detail">
            <p id="tituloSub"><b>Subastas Disponibles: </b></p>
            <hr>
            <br>
            <div *ngIf="proveedorDetail.login">
                <app-subasta></app-subasta>
            </div>
        </div>
    </div>   
    <hr>
    <hr>
</div>